.list {
   padding-top: 80px;
   width: 100%;
}
.list__row {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 100px;
}
.aside {
   max-width: 328px;
}
.aside__title {
   margin-bottom: 36px;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   /* identical to box height, or 150% */
   /* Main / Primary 2 */
   color: #474747;
}
.aside__descr {
   margin-bottom: 25px;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
   color: #474747;
}
.aside__link {
   margin-bottom: 80px;
   display: block;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   color: #474747;
   text-transform: uppercase;
   button {
      margin-left: 16px;
      background: #F4F4F4;
      border-radius: 3px;
      padding: 6px 8px;
   }
}
.aside__socials {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   li:not(:first-child) {
      margin-left: 26px;
      display: block;
   }
}
.posts {
   width: 100%;
   flex: 1 1 100%;
}
.posts__title {
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   color: #474747;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 20px;
}
.loading{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   img{
      margin: 0 20px;
   }
}
.posts__wrapper{
   margin-bottom: 63px;
}
.pagination {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-bottom: 150px;
   a{
      padding: 10px 8px;
      &:hover{
         color: red;
      }
   }
   button {
      &:hover {
         border: 1px solid #474747;
      }
      border: 1px solid transparent;
      padding: 10px 11px;
      border-radius: 3px;
      background: #F4F4F4;
      margin: 0 2px;
   }
}
@media screen and (max-width:1200px) {
.list{
   padding-top: 40px;
}
   .list__row{
      flex-direction: column;
      justify-content: center;
      max-width: 900px;
      margin: 0 auto;
      padding: 0 40px;
      gap: 50px;
   }
   .aside{
      margin-bottom: 40px;
   }
   .posts{
      order: -1;
   }
   .pagination{
      margin-bottom: 10px;
   }
}
@media screen and (max-width:992px) {
   
}
@media screen and (max-width:550px) {
   .list{
      padding-top: 80px;
   }
   .list__row{
      padding: 0 10px;
   }
}
