.post {
   padding: 46px 10px 15px;
   display: block;
   border-bottom: 1px solid #DFDFDF;
   &:hover{
      background: #eee;
   }
   &:active{
      background: #fff;
   }
   
}
.post__row {
   display: flex;
   align-items: center;
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   /* identical to box height */
   text-align: right;
   /* Neutral / Dark Grey */
   color: #777777;
   justify-content: space-between;
}

.post__name {
   font-weight: 500;
   font-size: 19px;
   line-height: 28px;
   /* or 147% */
   /* Main / Primary 2 */
   color: #474747;
   margin-top: 20px;
}
.post__descr {
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   /* or 147% */
   /* Main / Primary 2 */
   color: #474747;
   margin-top: 20px;
}
.post__timer{
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;

   span{
      
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */


/* Neutral / Dark Grey */

color: #777777;
   }
}