.login {
   padding: 26px 0;
   padding-bottom: 200px;
}
.login__body {
   text-align: center;
}
.login__descrip {
   font-weight: 500;
   font-size: 25px;
   line-height: 33px;
   color: #000000;
   margin: 0 auto;
   margin-top: 200px;
   max-width: 758px;
}
.form__title {
   font-weight: 700;
   font-size: 40px;
   line-height: 53px;
   color: #000000;
   margin-bottom: 56px;
}
.form {
   margin-top: 116px;
}
.form__input {
   display: block;
   margin: 0 auto;
   border-radius: 3px;
   width: 100%;
   max-width: 350px;
   padding: 12px 14px;
   background: #F4F4F4;
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   margin-bottom: 24px;
   color: #474747;
}
.form__btn {
   display: block;
   margin: 0 auto;
   width: 100%;
   max-width: 350px;
   font-weight: 700;
   font-size: 14px;
   line-height: 18px;
   text-align: center;
   padding: 12px 0;
   color: #FFFFFF;
   background: #000000;
   border-radius: 3px;
}
.not-corect {
   position: fixed;
   z-index: 2;
   top: 30px;
   left: (calc(50% - 160px));
   border: 2px solid #999;
   background: #f4f4f4;
   border-radius: 10px;
   padding: 40px;
   font-weight: 600;
   box-shadow: 4px 5px 10px 0 #000;
   opacity: 0;
   font-style: 16px;
   transition: all .2s ease-in-out;
   visibility: hidden;
}
.not-corect.active {
   opacity: 1;
   visibility: visible;
   -webkit-animation-name: shake;
   animation-name: shake;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}
@media screen and (max-width:567px) {
   .login__logo {
      strong {
         font-size: 14px;
      }
      img {
         width: 33px;
         height: 33px;
      }
   }
   .login__descrip {
      font-size: 15px;
      margin-top: 100px;
   }
   .form {
      margin-top: 50px;
   }
   .form__title {
      font-size: 30px;
   }
}
@media screen and (max-width:500px) {
   .not-corect {
      padding: 20px 10px;
      left: (calc(50% - 135px));
      top: 60px;
      font-size: 14px;
   }
}
@-webkit-keyframes shake {
   0%,
   100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
   10%,
   30%,
   50%,
   70%,
   90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
   }
   20%,
   40%,
   60%,
   80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
   }
}
@keyframes shake {
   0%,
   100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
   10%,
   30%,
   50%,
   70%,
   90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
   }
   20%,
   40%,
   60%,
   80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
   }
}