@import "./assets/sass/main.scss";

body{
   font-family: 'Roboto Mono'; 
   background: #fff;
}
.container {
   max-width: 1300px;
   padding: 0 10px;
   margin: 0 auto;
}



::-webkit-scrollbar {
   width: 1.2rem;
 }
 
 /* Track */
 
 ::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
  
 /* Handle */
 
 ::-webkit-scrollbar-thumb {
   background: #888; 
 }
 
 /* Handle on hover */
 
 ::-webkit-scrollbar-thumb:hover {
   background: #555; 
 }