
.nav__list{
display: flex;
align-items: center;
justify-content: center;
}
.nav__link{
   margin: 0 20px;
   position: relative;
   padding: 5px 0 ;
   &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background: #000;
      width: 0;
      transition: all .1s ease-in-out;
   }
   &:hover::before{
      
      width: 100%;
   }
}